<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST">

  <label for="Name">Name:</label>
  <input id="Name" type="name" name="name">

  <label for="POST-password">Password:</label>
  <input id="POST-password" type="password" name="password">

  <label for="POST-tweet">Tweet:</label>
  <input id="POST-tweet" type="text" name="tweet">

  <button type="submit" value="Sign Me Up!">Tweet</button>
</form>
 </body>
</html>

# expect(page).to have_selector("form")
  expect(page).to have_field(:name)
  expect(page).to have_field(:coach)
  expect(page).to have_field(:pg)
  expect(page).to have_field(:sg)
  expect(page).to have_field(:sf)
  expect(page).to have_field(:pf)
  expect(page).to have_field(:c)
