<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/team" method="POST">

  <label for="POST-username">Username:</label>
  <input id="POST-username" type="name" name="name">

  <label for="POST-password">Password:</label>
  <input id="POST-password" type="password" name="password">

  <label for="POST-tweet">Tweet:</label>
  <input id="POST-tweet" type="text" name="tweet">

  <button type="submit" value="Sign Me Up!">Tweet</button>
</form>
 </body>
</html>
